/* IMPORT FRAGMENTS */

@import '../fragments/colors.scss';
@import '../fragments/mixins.scss';

/* DESKTOP MENU */

.desktop-navbar{
    
position: fixed;
width:100%;
left:0;
right:0;
top:0;
z-index: 500;
@include globalPadding;
padding-top: 2rem;
padding-bottom: 2rem;
background-color: rgba(0, 0, 0, 0.614);
   
 
   @include flex-row;
   justify-content: space-between;
   align-items: center;


   .desktop-menu-items{
    @include flex-row;
    gap:2.5rem;
       align-items: center;

    .desktop-menu-item{

        @include flex-row;
        gap:0.6rem;
        align-items: center;
    }

    .desktop-menu-item:hover{

        color:$main-color;
        @include transition2s;
    }

    .mobile-menu-btn-open{
        display:none;
        visibility: hidden;
       
       }
   }

   
}

/* MOBILE MENU */


.mobile-menu{


    position: fixed;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.558);
    top:0;
    width:50%;
    right:0;
    height:100%;
 padding:2rem;
 transform: translateX(300px);
 opacity: 0;
 pointer-events: none;

transition: .7s ease-in-out;
    .mobile-menu-items{

        @include flex-column;
        gap:2.3rem;
         .mobile-menu-item{
            @include flex-row;
            gap:1rem;

            &:hover{
                color:$main-color;
                @include transition2s;
            }
         }
    }
}
.show-mobile-menu{


    position: fixed;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.765);
    top:0;
    width:50%;
    right:0;
    height:100%;
 padding:2rem;

 transition: .7s ease-in-out;


    .mobile-menu-items{

        @include flex-column;
        gap:2.3rem;
         .mobile-menu-item{
            @include flex-row;
            gap:1rem;

            &:hover{
                color:$main-color;
                @include transition2s;
            }
         }
    }
}



   /* RESPONSIVE STYLES */




   @media(min-width:900px){

  .show-mobile-menu{
    transform: translateX(300px);
    opacity: 0;


  }


   }
   @media(max-width:1200px){


.desktop-navbar{

    padding:2rem 5rem;
}
   }
   @media(max-width:1150px){


.desktop-navbar{

    padding:2rem 4rem;
}
   }
   @media(max-width:1000px){


.desktop-navbar{

    padding:2rem 3rem;
}
   }
   @media(max-width:900px){
   
     .desktop-navbar{


    

    .desktop-menu-items{


  
    .desktop-menu-option{

        display:none;
    }
    .mobile-menu-btn-open{
        display:block;
        visibility: visible;
       
       }
   
}
} 

   }


   @media(max-width:500px){
.desktop-navbar{

    padding:2rem 2rem;
}

   }
   @media(max-width:466px){
.desktop-navbar{

    padding:2rem 1rem;
}

   }